<%= form_for @user do |f| %>
  <div class="input">
    <%= f.text_field :username %>
  </div>
  
  <div class="input"> 
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= f.submit :disable_with => "Aguarde...", :class => "btn btn-warning btn-large" %>
  </div>
<% end %>
