<div id="div-forms-large" class="show-grid">
  <div class="span12">
    <h1>Alterar meus dados</h1>

    <%#= @user.inspect %>

    <%= render 'form' %>

    <%= link_to 'Ver meus links', links_path, :class => "btn btn-mini" %>
  </div>
</div>