<!-- Footer
================================================== -->
<footer class="footer">
  <p>
    <%= link_to "@Gostozinho", "/" %> 
    | Seu báu de links | 
    <%= link_to "@wfsneto",  "http://twitter.com/#!/wfsneto", target: "_blank" %>
  </p>
</footer>