<!-- Footer
================================================== -->
<footer class="footer">
  <p><%= link_to "@Gostozinho", "/" %> - Seu báu de links</p>
  <p><%= link_to "Sobre o gostozinho", "/about", :class => "brand" %></p>
  <p>developed by <%= link_to "@wfsneto",  "http://twitter.com/#!/wfsneto", target: "_blank" %></p>
</footer>