<% if links.blank? %>
  <div class="alert alert-block">
    <div class="close" data-dismiss="alert">×</div>
    <h4 class="alert-heading">Atenção!</h4>
    <p>
      Nenhum link foi encontrado, quer adicionar
      um link ao seu baú de links clique 
      <%= link_to "aqui", new_link_path %>
    </p>
  </div>
<% else %>
  <% last_id = links.last.id %>
  <div class="link">
    <% links.each do |link| %>
      <%= render 'links/link', :link => link %>
      <%= "<hr />".html_safe if link.id != last_id %>
    <% end %>

    <div id="more_links"></div>
  </div>
<% end %>
