<%= render "shared/masthead", 
  :subnav => [], 
  :h1 => [{:title =>"Editar link"}]
%>

<section class="content">
  <div class="row">
    <div class="span12">
      <%= render 'form' %>

      <%= link_to 'Ver meus links', links_path, :class => "btn btn-mini" %>
    </div>
  </div>
</section>
