<%= render "shared/masthead", 
  :subnav => [], 
  :h1 => [{
    :title => @search.present? ? "Links" : "Links recentes",
    :subtitle => @search.present? ? "Resultado da busca por: '#{@search}'" : nil
  }]
%>

<section class="content">
  <div class="row">
  <div id="links" class="grid-row">
    <div class="span12">
      <%= render "list", links: @links %>
    </div>

    <br clear="all" />
    <%= will_paginate @links %>
  </div>
</div>
</section>
