<%= render "shared/masthead", 
  :subnav => [], 
  :h1 => [{
    :title => @search.present? ? "Links" : "Links recentes",
    :subtitle => @search.present? ? "Resultado da busca por: '#{@search}'" : nil
  }]
%>

<section class="content">
  <div class="row">
    <div id="links" class="grid-row">
      <div class="span12">
        <%= render "list", links: @links %>
      </div>

      <%= link_to '<i class="icon-plus"></i> Carregar mais links'.html_safe,
        get_more_links_path(:page => @links.next_page),
        :remote => true,
        :id => "more-links",
        :class => "btn span3" if @search.blank?
       %>
    </div>
  </div>
</section>