<div class="show-grid">
  <div class="span12">
    <h1>Adicionar link</h1>

    <%= render 'form' %>
    
    <%= link_to 'ver meus links', "/u/#{current_user.username}", :class => "btn btn-mini", style: "float:left;" %>
  </div>
</div>
