<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><strong>De: </strong><%= @feedback.name %>(<%= @feedback.email %>)</p>
    <p><strong>Mensagem: </strong><%= @feedback.message %></p>
  </body>
</html>