<%= render "shared/masthead", 
  :subnav => [], 
  :h1 => [{:title =>"Sobre o gostozino"}]
%>

<section class="content">
  <article>
    <p>
      O Gostozinho foi criado apenas para fins didáticos levando em conta a linguagem e o framework Ruby on Rails. 
      Foi usado o <%= link_to "delicious.com", "http://delicious.com" %> como referência para o projeto
    </p>
  </article>
</section>
