<%= render "shared/masthead", 
  :subnav => [], 
  :h1 => [{:title =>"Sobre o Gostozinho", :class => "center"}]
%>

<section class="content">
  <div style="margin:0 auto;width:650px">
    <article>
      <h3><i>O que é o Gostozinho?</i></h3>   
      <p>
        O Gostozinho é um lugar para reunir todos suas referências da web, use o Gostozinho para salvar links de 
        vídeos, fotos, tweets, posts ou artigos sobre temas diversos, como se fosse um bookmark, pois é isso que o Gostozinho é apenas um bookmark virtual.
      </p>
      <p><i>O Gostozinho foi criado apenas para fins didáticos na tentativa de aprimorar conhecimento sobre a linguagem e o framework Ruby on Rails.</i></p>

      <h3><i>O que foi usado?</i></h3>
      <ul>
        <li>Ruby on Rails</li>
        <li>Twitter Bootstrap</li>
      </ul>

      <h3><i>Algumas gems usadas</i></h3>
      <ul>
        <li>devise</li>
        <li>will_paginate</li>
        <li>action-mailer</li>
      </ul>

      <h3><i>Referências</i></h3>
      <ul>
        <li>Ruby on Rails (<a target="_blank" href="http://rubyonrails.org/">rubyonrails.org</a>)</li>
        <li>e-Genial (<a target="_blank" href="http://egenial.com.br/cursorails">egenial.com.br/cursorails</a>)</li>
        <li>Twitter Bootstrap (<a target="_blank" href="http://twitter.github.com/bootstrap">twitter.github.com/bootstrap</a>)</li>
        <li>Devise (<a target="_blank" href="http://rubygems.org/gems/devise">rubygems.org/gems/devise</a>)</li>
        <li>Will Paginate (<a target="_blank" href="http://rubygems.org/gems/will_paginate">rubygems.org/gems/will_paginate</a>)</li>
        <li>Action Mailer (<a target="_blank" href="http://guides.rubyonrails.org/action_mailer_basics.html">guides.rubyonrails.org/action_mailer_basics.html</a>)</li>
        <li>Frevo-on-Rails (<a target="_blank" href="http://groups.google.com/group/frevo-on-rails">groups.google.com/group/frevo-on-rails</a>)</li>
        <li>Delicious (<a target="_blank" href="http://delicious.com">delicious.com</a>)</li>
      </ul>

      <h3><i>Considerações finais</i></h3>
      <p>O Gostozinho é um projeto com fins didáticos, portanto qualquer semelhança com outra aplicação é mera coincidência.</p>
    </article>
  </div>
</section>
