<%= render "shared/masthead", 
  :subnav => [], 
  :h1 => [{
    :class =>"center",
    :title =>"Feedback Gostozinho",
    :subtitle =>"Dê sua opnião, faça criticas ou ainda deixe uma mensagem sobre o projeto."
  }]
%>
<section class="content">
  <div id="div-forms-large" class="width-280">
    <%= render 'form' %>
  </div>
</section>
